<div class="container">
    
    <div class="section">
        
        <div class="row">
            <div class="col s12 m12">
                <p class="heading">Trip Sorter</p>
                <p>
                    Select a <em>Departure city</em> and <em>Arrival</em> city to plan your journey!
                </p>

                <p>
                    Make use of the quick filters to find the <strong>best</strong> options.
                </p>
              <search></search>
            </div>
        </div>

    </div>

</div>